@font-face {
    font-family: Prelo;
    src: url(../Prelo-Medium.ttf);
  }

  @font-face {
    font-family: Prelo-Bold;
    src: url(../Prelo-Black.ttf);
  }

.Status-Tracker {
    width: 34.1rem;
    font-family: Prelo;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 14.4rem;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-top: 16.5rem;
}

.Status-Tracker-container {
    height: 9.6rem;
    width: 28.2rem;
    /* margin: 2rem 3.4rem 2.8rem 2.5rem; */
    display: grid;
    /* align-items: flex-start; */
    flex-direction: row;
    /* justify-content: flex-start;  */
    grid-template-columns: 
        repeat(2, 1fr);
    /* align-items: flex-start; */
    color: #63666A;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.popper-row {
    display: flex;
    justify-content: space-between;    
}

/* ******************* GENERAL STYLING ***************************** */
.grid-item {
    display: flex;
    width: stretch; 
    justify-content: flex-start;
    align-items: flex-start;
} 



.bold {
    font-family: Prelo-Bold;
    color: #000000;
}


/* ***************************ROUTE TO POPPER ************************* */

.Route-To-Popper {
    height: 37.9rem;
    width: 35.1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 9px 28px 8px rgba(0, 0, 0, 0.05), 0px 6px 16px rgba(0, 0, 0, 0.08), 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #63666A;
}

.Route-To-Popper-Form {
    height: 33rem;
    width: 30.1rem;
}

.Route-To-Popper-Grid {
    display: grid;
    grid-template-columns: 
    repeat(2, 1fr);
    grid-gap: 1.8rem;
    margin-bottom: 2rem;
}

.route-to-item-container {
    width: 20.4rem;
    background-color: white;
    /* height: 4rem; */
}

.MuiFormControl-root {
    width: 20.4rem;
    font-family: Prelo;
}

.custom-select {
    position: relative;
    font-family: Prelo;
    width: stretch;
    height: 3.2rem;
    color: #262626;
}

.select-selected {
    background-color: DodgerBlue;
  }

.route-select-dropdown {
    width: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:left;
    height: 3.2rem;
    padding: .5rem 1rem .5rem 1.2rem;
    color: #262626;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
}

.route-grid-item {
    display: flex;
    width: stretch; 
    justify-content: flex-start;
    align-items: center;
} 

/* Route To Text Area */

.textarea {
    margin-top: 1rem;
    padding: .8rem 0 0 1.2rem;
    margin-bottom: 1rem;
    width: 28.7rem;
    height: 13.9rem;
    border: 1px solid #D9D9D9;
}

/* BUTTONS */

.status-button-container {
    margin-right: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: stretch;
}

.doing-button {
    background-color: #E6F7FF;
    color: #1890FF;
    border: 1px solid #91D5FF;
    width: 6.7rem;
    font-family: Prelo;
    height: 2.4rem; 
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1px;
 }
 
 .route-to-button {
    /* background-color: red; */
    color: #262626;
    flex-direction: row;
    font-family: Prelo;
    font-weight: regular;
    border: 1px solid #D9D9D9;
    width: 9.1rem;
    height: 2.4rem;
    margin-top: .05rem; 
    font-size: 1.4rem;
    border: 1px solid #D9D9D9;
    background-color: #ffffff;
    padding: 1px 8px;
 }

 /* Route To Popper Buttons */

.route-to-button-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.route-to-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    height: 3.2rem;
}

 .approve-button {
    color: #3F9C35;
    width: 10.4rem;
 }

 .reject-button {
    color: #E40046;
    width: 9.2rem;
 }

 .inquire-button {
    color: #63666A;
    width: 8.9rem;
 }